@layer ui {
  .modal,
  .modal-backdrop {
    position: fixed;
    left: 200vw;
  }

  .modal-body {
    position: absolute;
    width: 70vw;
    height: 70vh;
    margin: auto;

    /* todo modal style */
    background-color: white;
    inset: 0;
    opacity: 0;
  }
}

@layer state {
  /* If this component has state */
  .modal:target {
    inset: 0;
  }

  .modal:target .modal-body {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }

  .modal:target > .modal-backdrop {
    overflow: auto;
    background-color: rgb(0 0 0 / 50%);
    inset: 0;
    scroll-behavior: smooth;
  }

  .modal-backdrop:not(:focus) > span {
    @extend %visually-hidden;
  }

  .modal-backdrop:focus > span {
    position: absolute;
    top: 1em;
    left: 1em;
    padding: 0.5em 1em;
    outline: 5px auto Highlight;
  }
}
