@layer ui {
  dialog {
    overflow: auto;
    width: var(--modal-width);
    max-height: var(--modal-height);
    margin: auto;
    inset: 0;
  }

  dialog > div {
    padding: var(--card-padding);
  }

  :where(dialog)::backdrop {
    background-color: var(--modal-backdrop-background-color);
  }
}

@layer state {
  dialog:not([open]) {
    overflow: hidden;
  }
}
