@import '/src/assets/_css/extends.css' layer(state);

@layer state {
  :is([data-bg='lazy'], [data-bg='in-view']) {
    background-image: unset;
  }

  [data-ui='modal'] {
    position: fixed;
    top: 0;
  }

  [data-ui='modal']:not(:target) {
    left: 200vw;
  }

  [data-ui='modal']:target {
    left: 0;
  }
}
